*{
	margin: 0;
	padding: 0;
	/*list-style: none;*/
	text-decoration: none;
}
p{
	padding: 0;
	margin: 0;
}
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial;
	font-size:16px;
	color: #6c6c6c;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	font-family:"Microsoft YaHei",微软雅黑;
	background: #eff0f4;
}
html {
  font-size: 20px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
.yuan{
	width: 1rem;
	height: 1rem;
	background: #1dacf9;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	text-indent: 0;
	color: white;
	text-align: center;
	line-height: 1rem;
	margin-right: .3rem;
	font-size: 12px;
}
.yuan-red{
	width: 1rem;
	height: 1rem;
	background: red;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	text-indent: 0;
	color: white;
	text-align: center;
	line-height: .9rem;
	margin-right: .3rem;
	font-size: 12px;
}
.header{
	width: 100%;
	height: 55px;
	background: #1dacf9;
	position: fixed;
	top: 0;
}
.header-title{
	width: 95%;
	margin: auto;
	height: 100%;
	background: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative;
	
}
.header-title>p{
	width: 90%;
	margin: auto;
	font-size: .8rem;
	line-height: 55px;
	color: #1dacf9;
}
.header-title>span{
	position: absolute;
	font-size: 12px;
	top: 20px;
	right: 10px;
}
.wrap{
	width: 95%;
	margin: auto;
	padding-top: 55px;
	background: white;
	padding-bottom: 1rem;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	min-height: 85%;
	margin-bottom: 1rem;
}
.wrap-title{
	width: 90%;
	font-size: .75rem;
	color: black;
	margin: auto;
	padding-top: 1.5rem;
}
.wrap-title-img{
	width: 90%;
	font-size: .75rem;
	color: black;
	margin: auto;
	padding-top: .2rem;
	text-indent: 1rem;
}
.wrap-content{
	width: 90%;
	font-size: .7rem;
	margin: auto;
	text-indent: 1.2rem;
	line-height: 1.2rem;
	padding-top: .5rem;
}
.wrap-img{
	box-sizing: border-box;
	border-radius: 10px;
	border:1px solid #eff0f4;
	width: 90%;
	margin: auto;
	margin-top: .4rem;
	overflow: hidden;
}
.wrap-img>img{
	width: 100%;
	border-radius: 10px;
	float: left;
}